<div class="container-fluid bg-light py-5">
  <div class="container">
    <h3 class="text-center text-dark mb-5">Welcom to the Mùa Đông Không Lạnh</h3>
    <h5 class="text-center text-dark font-lobster">"Chúng tôi ở đây là để  giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và <br>
                                                    riêng tư, cũng như quyết định của bản thân bạn"</p>
      <div class="d-flex justify-content-around mt-5">
        <div class="bg-female col-md-5 h-200px bg-cover d-flex align-items-center justify-content-end">
          <a href="#">Bạn cần một cô gái</a>
        </div>
        <div class="bg-male col-md-5 h-200px bg-cover d-flex align-items-center">
          <a href="#">Bạn cần một chàng trai</a>
        </div>
      </div>
  </div>
</div>
